<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'PRIVACY-NOTICE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<!--<ion-content class="main-menu" padding>-->

<ion-content class="main-menu privacy" padding>
<div id="privacy_it" *ngIf="currentLang =='it'">
<div class="card">
Gentile Utente,<br>
desideriamo informarti, nel modo più comprensibile possibile, che l'applicazione “La Maddalena Arcipelago” raccoglie automaticamente e tratta, nel rispetto del Regolamento Europeo 2006/679, i seguenti Tuoi dati personali e per le finalità che in seguito descriveremo<br>
<ul>
<li><a href="#tecnici">dati tecnici e di navigazione</a></li>
<li><a href="#geolocal">dati di geolocalizzazione</a></li>
<li><a href="#push">dato identificativo del device</a></li>
</ul>
</div>
<div class="card" id="tecnici">DATI TECNICI E DI NAVIGAZIONE
<br>
I nostri sistemi informatici e le procedure software che garantiscono il funzionamento della App acquisiscono automaticamente, durante l’utilizzo, alcune informazioni la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet. <br>
Le informazioni raccolte sono le seguenti:
<ul>
<li>l’indirizzo internet IP o il nome a dominio del dispositivo da Te utilizzato;</li>
 <li>gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste;</li>
 <li>l’orario della richiesta;</li>
 <li>il metodo utilizzato nel sottoporre la richiesta al server;</li>
 <li>la dimensione del file ottenuto in risposta;</li>
 <li>il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.);</li>
 <li>altri parametri relativi al sistema operativo e contesto informatico del Tuo dispositivo;</li>
</ul>
Queste informazioni non sono raccolte per essere associate a utenti identificati e vengono utilizzate al solo fine di ricavare informazioni anonime per controllare il corretto funzionamento della App. Tali informazioni sono detenute presso server cloud UE e vengono cancellate per sovrascrittura con frequenza settimanale. <br>
</div>
<br>
<div class="card" id="geolocal">DATI DI GEOLOCALIZZAZIONE
<br>
Se hai attivato l‘utilizzo dei servizi di geolocalizzazione sul Tuo device (es. cellulare e/o tablet) e se hai acconsentito specificatamente all'uso della geolocalizzazione nella nostra App, quando decidi di utilizzare il pulsante di geolocalizzazione la stessa App può acquisire dati relativi alla posizione geografica del Tuo device (es. cellulare e/o tablet) tramite GPS/Wifi/Segnale. <br>
Tali dati saranno utilizzati soltanto affinchè Tu possa individuare la tua posizione nella mappa in riferimento ai punti di interesse segnalati nell'App e da te selezionati. <br>
In ogni momento potrai disattivare i servizi di geolocalizzazione accedendo all’apposita sezione del sistema operativo del tuo device. Tali dati non saranno diffusi o comunicati a terzi.
</div>
<br>
<div class="card" id="push">DATO IDENTIFICATIVO DEL TUO DEVICE
<br>
Anche in questo caso, se hai acconsentito al ricevimento delle notifiche push, l'App acquisirà automaticamente il dato identificativo del tuo device che verrà utilizzato soltanto per comunicarTi aggiornamenti e notizie importanti, tramite l'uso delle notifiche push per mezzo delle piattaforme ufficiali di Apple e Google.<br>
Questa funzionalità, se non più gradita, potrà essere rimossa dalle impostazioni nell'apposita sezione del sistema operativo del tuo device.
</div>
<br>
<div class="card">CONCLUDENDO …
<br>
Ti ricordiamo che hai diritto di avere queste informazioni, di chiedermi di cancellare i tuoi dati in nostro possesso, e addirittura di sporgere reclamo presso l’autorità se ritieni che noi stiamo violando i tuoi diritti.<br>
Per ogni Tua richiesta in merito, sei pregato di inviarla all'indirizzo email : supporto@appturistiche.it<br>
Grazie per avere letto fino in fondo le spiegazioni su come utilizziamo i Tuoi dati.<br>
Il Titolare del Trattamento - Sig. Antonio Getulio Barretta
<br>
</div>
</div> <!-- End privacy IT -->
<div id="privacy_en" *ngIf="currentLang =='en'">
<div class="card">
Dear User, <br>
we wish to inform you, in the most clear way possible, that the App "La Maddalena Arcipelago" automatically collects and treats, in compliance with the European Regulation 2006/679, the following personal data and for the purposes that we will describe below: <br>
<ul>
<li><a href="#tecnici">technical and navigation data</a></li>
<li><a href="#geolocal">geolocation data</a></li>
<li><a href="#push">identification data of the device</a></li>
</ul>
</div>
<div class="card" id="tecnici">TECHNICAL AND NAVIGATION DATA
<br>
Our computer systems and software procedures that guarantee the functioning of the App automatically acquire, during use, some information whose transmission is implicit in the use of Internet communication protocols. <br>
The information collected is as follows:
<ul>

<li> the IP internet address or domain name of the device used by you; </li>
 <li> addresses in URI (Uniform Resource Identifier) ​​notation of the requested resources; </li>
 <li> the time of the request; </li>
 <li> the method used submitting the request to the server; </li>
 <li> the file size obtained in response; </li>
 <li> the numerical code indicating the status of the response given by the server (successful, error, etc.); </li>
 <li> other parameters relating to the operating system and IT context of your device; </li>
</ul>

This information is not collected to be associated with identified users and is used for the sole purpose of obtaining anonymous information to check the correct functioning of the App. This information is held at EU cloud servers and is deleted by overwriting with weekly frequency. <br>
</div>
<br>
<div class="card" id="geolocal">GEOLOCATION DATA
<br>
If you have activated the use of geolocation services on your device (eg mobile and / or tablet) and if you have specifically consented to the use of geolocation in our App, when you decide to use the geolocation button then the App can acquire data relative to the geographical position of your device (eg mobile and / or tablet) via GPS / Wifi / Signal. <br>
These data will be used only to identify your position on the map in relation to the points of interest in the App and selected by you. <br>
At any time you can disable the geolocation services by accessing the appropriate section of the operating system of your device. These data will not be disclosed or communicated to third parties.
</div>
<br>
<div class="card" id="push">IDENTIFICATION DATA OF THE DEVICE
<br>
Also in this case, if you have consented to receive push notifications, the App will automatically acquire the identifying data of your device that will be used only to communicate updates and important news, through the use of push notifications via official Apple and Google platforms. <br>
This feature can be removed from the settings section of your device.
</div>
<br>
<div class="card">CONCLUDING …
<br>
We remind you that you have the right to have this information, to ask me to delete your data in our possession, and even to put a claim to the authority if you believe that we are violating your rights. <br>
For all your requests, please use this the email address: supporto@appturistiche.it <br>
Thank you for reading all the explanations on how we use your data
The Data Controller - Mr. Antonio Getulio Barretta
<br>
</div>
</div> <!-- End privacy EN -->
</ion-content>
<ion-footer></ion-footer>