page-meteo-modal {
background-color: white !important;

.toolbar-background {
  background: #387ef5 !important;
  color: white;
} 
.card {
	color: #666 !important;
}
.card .card-title {
	color: #666 !important;
}

}
